%table.table.table-condensed
  %thead
    %tr
      %td
        .btn-group
          %button.btn.btn-success.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            Filters
            %span.caret
          %ul.dropdown-menu{role: "menu"}
            %li
              %a{href: "#"} All
            %li
              %a{href: "#"} Open
            %li
              %a{href: "#"} Watching
        =link_to 'New project', '#', class: 'btn btn-warning btn-sm', 'data-toggle' => 'modal', 'data-target' => '#newProject'
      %td
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td
        %b Project
      %td
        %b Task
      %td
        %b T
      %td
        %b P
      %td
        %b Status
      %td
        %b Assignee
      %td
        %b Created
      %td
        %b Updated
  %tbody
    - @tasks.each do |t|
      %tr
        %td= "<a href='#{project_show_path( t.project_id )}'>#{t.project.name}</a>".html_safe
        %td= "<a href='#{task_show_path( t.id )}'>#{t.title}</a>".html_safe
        %td= image_tag( t.task_type.icon, size: '18x18' )
        %td= image_tag( t.task_priority.icon, size: '16x16', alt: 'xui' )
        %td
          %span.badge new
        %td= "#{t.user.first_name} #{t.user.last_name}"
        %td= t.created_at
        %td= t.updated_at