%form{role: 'form', method: 'post', action: "#{task_path}"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = hidden_field_tag 'task[project_id]', params[:id]
  .form-group
    = label_tag 'title', 'Title'
    = text_field_tag 'task[title]', nil, class: 'form-control'
  .form-group
    = label_tag 'tags', 'Tags'
    = text_field_tag 'task[tags]', nil, class: 'form-control'
  .form-group
    = label_tag 'description', 'Description'
    = text_area_tag 'task[description]', nil, class: 'form-control markdown'
  .form-group
    = label_tag 'status', 'Status'
    = select_tag "task[task_status_id]", options_for_select( get_task_statuses() ), class: 'form-control'
  .form-group
    = label_tag 'kind', 'Kind'
    = select_tag "task[task_type_id]", options_for_select( get_task_types() ), class: 'form-control'
  .form-group
    = label_tag 'priority', 'Priority'
    = select_tag "task[task_priority_id]", options_for_select( get_task_priorities() ), class: 'form-control'
  %p.text-right
    = submit_tag 'Create', class: 'btn btn-success btn-xs'
