%form{role: 'form', method: 'post', action: "#{task_path}"}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  = hidden_field_tag 'task[project_id]', params[:id]
  .form-group
    = label_tag 'title', 'Title'
    = text_field_tag 'task[title]', nil, class: 'form-control'
  .form-group
    = label_tag 'description', 'Description'
    = text_area_tag 'task[description]', nil, class: 'form-control markdown'
  .form-group
    = label_tag 'kind', 'Kind'
    = select_tag "task[kind]", options_for_select({ 'task' => 1, 'proposal' => 2, 'bug' => 3 }, "task"), class: 'form-control'
  .form-group
    = label_tag 'priority', 'Priority'
    = select_tag "task[priority]", options_for_select({ 'low' => 1, 'normal' => 2, 'critical' => 3 }, "normal"), class: 'form-control'
  %p.text-right
    = submit_tag 'Create', class: 'btn btn-success btn-xs'
